@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --ui-color: #fcfc76;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  margin: 0;
}

.ui {
  border: black 2px solid;
  border-radius: 10px;
  background-color: var(--ui-color);
  display: grid;
  place-items: center;
  width: 400px;
  padding: 20px; /* Zum Hinzufügen von Abstand um den Inhalt */
  margin-bottom: 10px;
}

#Next-Button {
  color: white;
  background-color: rgba(40, 44, 51, 1);
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: black 1px solid;
}

#Back-Button {
  color: white;
  background-color: rgba(40, 44, 51, 1);
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: black 1px solid;
}

.background-image {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 100vh;
  margin: 0;
}
