root {
  --ui-color: #fcfc76;
}

.ui {
  border: black;
  border-radius: 10px;
  background-color: var(--ui-color);

  display: grid;
  place-items: center;

  align-content: center;
  min-height: 100vh;
}
